@charset "utf-8";
*{margin: 0px; padding: 0px;}
ul>li{list-style: none;}

.faq{width: 600px; margin: 0 auto;}

.faq > h2 {font-size: 24px; margin: 20px 0px 40px;}

.question{
  list-style-type: none;
  line-height: 40px;
  cursor: pointer;
  border-top: 1px solid #ddd;
}
.question > li{
  border-bottom: 1px solid #ddd;
}
.question > li > i.fas{
  float: right; font-size: 20px; line-height: 40px;
}
.t_color{ 
  display: inline-block;
  width: 30px;
  color: #640faf;
  font-weight: 600;
  padding-right: 10px;
}
.question ul li { 
display: none; padding: 30px; background: #f0f0f0; width: 100%; line-height: 24px;
cursor:auto;
box-sizing: border-box;
}
.delete{
  color: #640faf;
  text-decoration: none;
}



li img{width: 100%; text-align: center;}
li.on > i.fas{transform: rotate(180deg);}