@charset "UTF-8";

/* 공통 서식 */
.m-title {
  font-size: 2rem;
  text-align: center;
}
section:not(#main_intro, #cs) {
  margin: 50px 0;
}
h2 {
  font-weight: 600;
  font-size: 1.5rem;
}
.p01 {
  margin: 20px 0px 0px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.btn {
  padding: 10px 50px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  transition: 0.3s;
}
.fa-angle-right {
  padding-left: 5px;
}

/* 인트로 */
#main_intro {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 25px;
}
#main_intro > video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#main_intro > h2 {
  display: none;
}
#main_intro article {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
#main_intro article h3 {
  color: #fff;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 20px;
}
#main_intro article p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
#main_intro article a {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 10px;
  color: var(--t-color02);
  text-decoration: underline;
}
#main_intro article a:first-of-type {
  background: var(--bg-color01);
}
#main_intro article a:not(:first-of-type) {
  background: var(--bg-color02);
}
#next_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 25px;
  height: 25px;
  border: 5px solid rgba(255, 255, 255, .5);
  color: var(--t-color02);
  text-indent: -9999px;
  border-top: none;
  border-left: none;
  transform: rotate(45deg) translateX(-50%);
}

/* 많이 찾는 캐스퍼 서식 */
#top3 {
  text-align: center;
}
#top3 > p {
  margin: 20px 0 60px;
  font-weight: 400;
  font-size: 1rem;
}
.top3 {
  width: 100%;
  height: 650px;
}
.item {
  width: 100%;
  text-align: center;
}
.item > p:first-child {
  display: inline-block;
  width: 50px;
  border: 1px solid var(--t-color03);
  color: var(--t-color03);
  font-weight: 400;
  font-size: 1.2em;
  line-height: 25px;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 20px;
}
.item > p:nth-child(2) {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 60px;
}
.item > img {
  width: 400px;
  margin-bottom: 60px;
}
.item_box {
  display: flex;
  position: relative;
  width: 700px;
  margin: 0 auto 40px;
  font-size: 14px;
  justify-content: space-between;
}
.item_box li {
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}
.block {
  display: block;
  float: left;
  width: 50px;
  height: 35px;
  margin: 0 20px;
  background: #000;
}
.b01 {
  background: #0f2b5c;
}
.b02 {
  background: #377da4;
}
.item-info01 {
  display: block;
  width: 140px;
  height: 40px;
  font-size: 1em;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
}
.item-name {
  color: var(--t-color01);
  font-weight: 400;
  font-size: 1em;
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.item-price {
  color: var(--bg-color01);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 40px;
  margin-bottom: 20px;
}
.item_box li:not(:first-child)::after {
  display: block;
  position: absolute;
  top: 0;
  clear: both;
  width: 1px;
  height: 40px;
  background: #000;
  content: "";
  transform: translateX(-5px);
}

.item_box li:nth-of-type(3)::after {
  transform: translateX(-20px);
}
.item_box li:last-of-type::after {
  transform: translateX(-10px);
}
.top3-about {
  border: 1px solid var(--bg-color01);
  color: var(--bg-color01);
}
.top3-about:hover {
  border: 1px solid var(--bg-color01);
  color: var(--bg-color03);
  background-color: var(--bg-color01);
}
.item-won {
  font-size: 0.7em;
  padding-left: 3px;
}

/* 캐스퍼 소개 서식 */
#intro {
  position: relative;
  height: 900px;
  overflow-y: hidden;
}
#intro > h2 {
  position: absolute;
  top: 50px;
  width: 100%;
}
#intro > video {
  position: absolute;
  top: 20px;
  left: -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(50%);
  z-index: -1;
}
.left-title,
.right-title {
  position: absolute;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
}
.left-title {
  top: 150px;
  left: 40px;
  text-align: left;
}
.right-title {
  right: 80px;
  bottom: 150px;
  text-align: right;
}
.more-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px 50px;
  margin: 0 auto;
  border: 1px solid var(--bg-color01);
  color: var(--bg-color01);
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 60px;
  transform: translateX(-50%);
  transition: 0.3s;
}
.more-btn:hover {
  border: 1px solid var(--t-color01);
  color: var(--bg-color03);
  background-color: var(--t-color01);
}

/* 시승신청 */

#test {
  height: 450px;
  text-align: center;
}
#test > p {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 1rem;
}
#test > article {
  display: inline-block;
  position: relative;
  width: 340px;
  height: 280px;
  border: 1px solid #dcdcdc;
  text-align: center;
  margin-top: 50px;
}

.t-drive-l {
  margin-right: 30px;
}
#test > article > h3 {
  padding: 30px 0 15px;
  color: var(--t-color01);
  font-weight: 600;
  font-size: var(--f-size-01);
  font-size: 22px;
  line-height: 30px;
}
#test > article > p {
  color: var(--t-color01);
  font-weight: 400;
  font-size: var(--f-size-01);
  line-height: 18px;
  padding-bottom: 20px;
}
.t-info {
  display: block;
  position: absolute;
  width: 100%;
  line-height: 30px;
  text-align: center;
  transform: translateY(50px);

}
.p02 {
  position: absolute;
  bottom: -50px;
  width: 100%;
  text-align: center;
}

.t-drive {
  border: 1px solid var(--bg-color01);
  background: var(--bg-color01);
  color: var(--t-color02);
}
.t-drive:hover {
  border: 1px solid var(--bg-color01);
  color: var(--bg-color01);
  background-color: var(--bg-color03);
}

/* 이벤트 */
#event {
  position: relative;
  height: 500px;
  padding: 50px 0px;
  margin: 0 auto;
  background: #ececec;
  overflow: hidden;
}
.e-slide-wrap {
  position: relative;
  left: 0;
  width: 1000px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 70px;
}
.e-slide {
  display: flex;
  position: relative;
  left: 0;
  width: 3000px;
  height: 260px;
  transition: 0.3s;
}
.slide-item {
  position: relative;
  width: 100%;
  height: 100%;
}
.e-slide-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.e-slide-wrap > i.fas {
  position: absolute;
  top: 50%;
  color: var(--t-color02);
  font-size: 40px;
  transform: translateY(-50%);
}
.e-slide-wrap > i.fas:first-of-type {
  left: 20px;
}
.e-slide-wrap > i.fas:last-of-type {
  right: 20px;
}
.e-pagenation {
  bottom: 20px;
  width: 100%;
  height: 10px;
  text-align: center;
  margin-top: 20px;
  z-index: 100;
}
.e-pagenation span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #dcdcdc;
  border-radius: 50%;
  margin-right: 5px;
}
.e-pagenation span.on {
  background: var(--bg-color01);
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}
.modal img {
  vertical-align: middle;
}
.modal > .m_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 640px;
  transform: translate(-50%, -50%);
}
.m_inner p {
  padding: 0 20px;
  color: var(--t-color01);
  background-color: #fff;
  box-sizing: border-box;
}

.m_inner label {
  font-weight: 600;
  font-size: var(--f-size-02);
  line-height: 30px;
}
.m_inner p a {
  float: right;
  color: var(--bg-color01);
  font-size: var(--f-size-02);
  line-height: 30px;
}
.m_inner p input[type="checkbox"] {
  color: var(--t-color01);
}

/* 구매안내 */
#buy {
  position: relative;
  text-align: center;
}
#buy > h3 {
  padding: 30px 0 15px;
  color: var(--t-color01);
  font-weight: 600;
  font-size: var(--f-size-01);
  font-size: 24px;
  line-height: 30px;
}
.t-color01 {
  color: var(--t-color03);
}
.b-item {
  display: flex;
  width: 1000px;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.b-item li {
  position: relative;
  width: 32%;
  background: #fff;
  text-align: center;
}
.b-item li > h4 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
}
.b-item li > img {
  width: 70px;
  margin: 20px 0;
}
.p03 {
  line-height: 20px;
  margin-bottom: 50px;
}
.b-iframe {
  width: 1000px;
  height: 560px;
  border: none;
}

/* 고객지원 */
#cs {
  position: relative;
  padding: 50px 0 50px;
  background: #ececec;
}
#cs > h2{
  padding: 0px 0px 50px;
  color: var(--t-color01);
}
.cs-menu01 h3{
  padding: 40px 0px 20px 0px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.cs-menu01 {
  position: relative;
  width: 1000px; height: 280px;
  margin: 0 auto;
  background: #fff;
}
.clear::after{
  display: block;
  clear: both;
  content: "";
}
.ars-left, .ars-right {
  display: flex;
  position: relative;
  width: 50%;
  padding: 20px 30px;
  justify-content: center;
  box-sizing: border-box;
}
.ars-left {
  float: left;
}
.ars-left::after{
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 150px;
  background: #dcdcdc;
  content: "";
}
.ars-right {
  float: right;
}
.cs_p{
  width: 175px;
  font-size: var(--f-size-01);
  text-align: center;
}
.cs_p strong{
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
.link01{
  color: var(--t-color03);
  line-height: 25px;
}
.car, .member{
  display: inline-block;
  width: 75px; height: 46px;
  background: url("../images/bg-support-ars.png");
  text-indent: -9999px;
}
.car{
  transform: translateY(35px);
}
.member{
  width: 60px;
  background-position: -90px;
  transform: translateY(10px);
}
#cs dl{
  width: 175px;
  margin: 0 0 0 20px;
  line-height: 22px;
  vertical-align: top;
}
#cs dt{
  font-weight: 600;
}
#cs dd{
  color: #6d6d6d;
}
.cs-menu02{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.cs-menu02 li{
  position: relative;
  width: 25%; height: 250px;
  padding: 20px;
  background: #fff;
  text-align: left;
  box-sizing: border-box;
}
.cs-menu02 li:last-child{
  text-align: center;
}
.cs-menu02 li:last-child a:first-of-type{
  margin-right: 25px;
}
.cs-menu02 li h3{
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
}
.cs-menu02 li p{
  line-height: 20px;
  text-align: left;
}
.cs-menu02 img{
  margin: 15px 0px;
}
.csbtn{
  display: block; position: absolute;
  bottom: 20px;
  left: 50%;
  width: 80%;
  padding:10px 0px;
  background: var(--bg-color01);
  color: var(--t-color02);
  border: 1px solid var(--bg-color01);
  text-align: center;
  box-sizing: border-box; transform: translateX(-50%);
}
.csbtn:hover{
  display: block; position: absolute;
  border: 1px solid var(--bg-color01);
  background: var(--t-color02);
  color: var(--bg-color01);
}
.ran_banner{
  width: 1000px;
  margin: 20px auto;
}
footer{
  width: 100%;
  padding: 30px 0px;
  background: #333;
  color: #999;
}
.f-wrap{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: left;
}
.f-wrap img{
  width: 100px;
  height: 100%;
}
.f-total{
  margin-left: 40px;
}
.f-menu{
  display: flex;
  position: relative;
  padding-bottom: 20px;
}
.f-menu li a{
  color: #888;
  padding-right: 20px;
}
.f-menu li a.on{
  color: #fff;
  font-weight: 600;
}
.f-menu li:not(:first-of-type)::after{
  display: block;
  position: absolute;
  top:0px;
  width: 1px; height: 10px;
  background: #777;
  content: ""; transform: translateX(-10px);
}
.f-info{
  display: grid;
  width: 900px;
  grid-template-columns: repeat(4, auto);
  padding-bottom: 20px;
}
.f-info li{
  line-height: 25px;
  margin-right: 20px;
}
.f-info li a{
  display: inline-block;
  color: #777;
  font-size: 10px;
  padding-left: 10px;
  transform: translateY(-1px);
}
address{
  text-transform: uppercase;
}