@charset "UTF-8";

.m-title{
  text-align: center;
  font-size: 2rem;
}
.fa-angle-right{
  padding-left: 5px;
}

.btn{
  padding: 10px 50px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 60px;
  transition: 0.3s;
}

#main_intro {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 25px;
}
#main_intro > video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#main_intro > h2 {
    display: none;
}
#main_intro article {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}
#main_intro article h3 {
    color: #fff;
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
}
#main_intro article p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
#main_intro article a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    color: var(--t-color02);
    text-decoration: underline;
}
#main_intro article a:first-of-type {
    background: var(--bg-color01);
}
#main_intro article a:not(:first-of-type) {
    background: var(--bg-color02);
}
#next_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 5px solid rgba(255, 255, 255, .5);
    color: var(--t-color02);
    text-indent: -9999px;
    border-top: none;
    border-left: none;
    transform: rotate(45deg) translateX(-50%);
}

section:not(#main_intro, #cs) {
    margin: 50px 0px 0px;
  }
#cs{
    margin: 50px 0px 0px;
    background: #ccc;
    height: 1800px;
    position: relative;
}

/* 많이 찾는 캐스퍼 서식 */
#top3{
  text-align: center;
}
#top3 > p{
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0px 60px;
}
.top3{
  width: 100%;
  height: 650px;
}
.item{
  width: 100%;
  text-align: center;
}
.item > p:first-child{
    display: inline-block;
    width: 50px; line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--t-color03);
    border: 1px solid var(--t-color03);
    margin-bottom: 20px;
}
.item > p:nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 60px;
}
.item > img{
  width: 400px;
  margin-bottom: 60px;
}
.item_box{
  display: flex;
  width: 700px;
  margin: 0 auto 40px;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
}
.item_box li{
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}
.block{
  display: block;
  width: 50px; height: 35px;
  background: #000;
  float: left;
  margin: 0px 20px 0px;
}
.b01{background: #0f2b5c;}
.b02{background: #377da4;}
.item-info01{
  font-size: 1em;
  width: 140px;
  height: 40px;
  margin-left: 20px;
  line-height: 20px;
  text-align: left;
  display: block;
}
.item-name{
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  color: var(--t-color01);
  margin-bottom: 20px;
  line-height: 20px;
}
.item-price{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 40px;
  color: var(--bg-color01);
  margin-bottom: 20px;
}
.item_box li:not(:first-child)::after{
  content: "";
  display: block;
  clear: both;
  width: 1px; height: 40px;
  background: #000;
  position: absolute;
  top: 0px;
  transform: translateX(-5px);
}

.item_box li:nth-of-type(3)::after{
  transform: translateX(-20px);
}
.item_box li:last-of-type::after{
  transform: translateX(-10px);
}
.top3-about{
  padding: 10px 50px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--bg-color01);
  margin-bottom: 60px;
  border: 1px solid var(--bg-color01);
  transition: .3s;
}
.top3-about:hover{
  color: var(--bg-color03);
  background-color: var(--bg-color01);
  border: 1px solid var(--bg-color01);
}
.item-won{
  font-size: 0.7em;
  padding-left: 3px;
}

/* 캐스퍼 소개 서식 */
#intro{
  position: relative;
  height: 900px;
  overflow-y: hidden;
}
#intro > h2{
  width: 100%;
  position: absolute;
  top: 50px;
}
#intro > video{
  width: 100%;
  height: 100%;
  top:20px;
  object-fit: cover;
  position: absolute;
  left: -50%;
  transform: translateX(50%);
  z-index: -1;
}
.left-title, .right-title{
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
  position: absolute;
}
.left-title{
  left: 40px;
  top: 150px;
  text-align: left;
}
.right-title{
  right: 80px;
  text-align: right;
  bottom: 150px;
}
.more-btn{
    padding: 10px 50px;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    color: var(--bg-color01);
    margin-bottom: 60px;
    border: 1px solid var(--bg-color01);
    position: absolute;
    bottom: 0px;
    left: 50%; transform: translateX(-50%);
    transition: 0.3s;
}
.more-btn:hover{
    color: var(--bg-color03);
    background-color: var(--t-color01);
    border: 1px solid var(--t-color01);
}

/* 시승신청 */

#test{ text-align: center; height: 450px;}
#test > p{
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0px 0px;
}
#test > article{
  display: inline-block;
  width: 340px; height: 250px; 
  position: relative; 
  text-align: center;
  border: 1px solid #dcdcdc;
  margin-top: 50px;}
.p01{
  text-align: center;
  font-size: var(--f-size-02);
  line-height: 40px;
}
.t-drive-l{margin-right: 30px;}
#test > article > h3{
  font-size: var(--f-size-01);
  font-weight: 600;
  line-height: 30px;
  font-size: 22px;
  padding: 30px 0px 15px;
  color: var(--t-color01);
}
#test > article > p{
  font-size: var(--f-size-01);
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 20px;
  color: var(--t-color01);
}
.t-info{
  display: block;
  line-height: 30px;
  position: absolute;
  width: 100%; text-align: center;
  transform: translateY(50px);

}
.p02{
  position: absolute;
  width: 100%; text-align: center;
  bottom: -50px;
}

.t-drive{
  color: var(--t-color02);
  background: var(--bg-color01);
  border: 1px solid var(--bg-color01);
}
.t-drive:hover{
  color: var(--bg-color01);
  background-color: var(--bg-color03);
  border: 1px solid var(--bg-color01);
}

/* 이벤트 */
#event{
  height: 600px;
  overflow-y: hidden;
  position: relative;
}
.e-slide-wrap{
  margin-left: -100%;
  width: 1000px; height: 260px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  margin-top: 70px;
}
.e-slide{
  width: 3000px;
  display: flex;
  height: 260px;
  position: absolute;
  margin-left: 0%;
  left: 0%;
  transition: 0.3s;
}
.slide-item{
  width: 100%;
  height: 100%;
  position: relative;
}
.e-slide-wrap img{
  width: 100%; height: 100%;
  object-fit: cover;
}
.e-slide-wrap > i.fas{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--t-color02);
}
.e-slide-wrap > i.fas:first-of-type{
  left: 20px;
}
.e-slide-wrap > i.fas:last-of-type{
  right: 20px;
}
.e-pagenation{
  margin-top: 20px;
  width: 100%; height: 10px;
  bottom: 20px;
  z-index: 100;
  text-align: center;
}
.e-pagenation span{
  display: inline-block;
  width: 10px; height: 10px;
  background: #dcdcdc;
  border-radius: 50%;
  margin-right: 5px;
}
.e-pagenation span.on{
  background: var(--bg-color01);
}