@charset "UTF-8";

*{margin: 0; padding: 0;}
ol, ul, li{list-style: none;}
a{text-decoration: none;}
img{vertical-align: top;}

.tab-con{
  width: 1040px;
  height: 750px;
  margin: 0 auto;
  position: relative;
}
.tab-con ul{
  width: 100%;
  display: flex;
  align-items: center;
}
.tab-con div img{
  width: 100%;
  position: absolute;
  left: 0; top: 0;
}
.tab-con ul li{
  width: 20%;
  text-align: center;
}
.tab-con ul li a{
  display: block;
  height: 100px; width: 100%;
  box-sizing: border-box;
}

.tab-con ul li a img{
  height: 50px; padding: 15px 0px 10px;
}
.tab-con ul li a p{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.tab-con ul li a.on{
  background: #f06d01;
}
.tab-con ul li a.on p{
  color: #fff;
}

.con{
  display: none;
  width: 1040px;
  height: 650px;
  position: absolute;
  bottom: 0px; left: 0px;
}
a.on + div{
  display: block;
}