@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root{
  /* 폰트 크기 */
  --b-size : 12px;
  --f-size01 : 14px;
  --f-size02 : 16px;
  --h-size : 32px;

  /* 색상 */
  --color01 : #333;
  --color02 : #fff;
  --m-color01 : #C30007;
  --m-color02 : #FFD200;
  --m-color03 : #6C9F00;

  /* 섹션 */
  --b-center : 0 auto;
  --b-padding : 50px 0px;
}

body{
  font-family: 'Pretendard', '맑은고딕', arial, sans-serif;
  font-size: var(--b-size);
  color: var(--color01);
}

a{
  color: var(--color01);
  text-decoration: none;
  font-size: var(--f-size01);
}