@charset "UTF-8";

.m-txt{
  display: inline-block;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: -6px;
  margin-right: 20px;
  box-shadow: 0px -12px 0px 0px var(--m-color02) inset;
}
.h3-text{
  display: inline-block;
  font-size: var(--f-size02);
  line-height: 32px;
  padding-bottom: 3px;
  transform: translateY(-4px);
}


#intro h2{
  display: none;
}
.intro-slide-container{
  position: relative;
  width: 100%; height: 750px;
  overflow: hidden;
}
.intro-slide-wrap{
  display: flex;
  position: relative;
  left: 0px;
  width: 100%; height: 750px;
  margin: 0 auto;
}
.intro-slide-slide{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}
.intro-slide-slide:first-of-type{
  background: url(../img/banner03_bg.png) no-repeat center right;
  z-index: 10;
}
.intro-slide-slide:nth-of-type(2){
  background: url(../img/banner02-bg.png) no-repeat center right;
  z-index: 9;
}
.intro-slide-slide:last-of-type{
  background: url(../img/banner01-bg.png) no-repeat center right;
  z-index: 8;
}
.intro-slide-text{
  position: relative;
  width: 1180px;
  margin: var(--b-center);
}
.intro-slide-text img{
  position: absolute; top:150px;
  left: 0px;
  width: 650px;
}
.intro-slide-slide:last-of-type > p > img{
  top:140px;
  width: 800px;
}

.intro-slide-slide span{
  display: none;
}
.intro-slide-slide > img{
  position: absolute;
  right: 0px;
  height: 100%;
  object-fit: contain;
}

.intro-slide-ctrl-wrap{
  position: relative;
  width: 1180px;
  margin: var(--b-center);
}

.sns{
  position: absolute; right: 0px; bottom:60px;
  z-index: 12;
}
.sns li{
  display: inline-block;
  width: 40px; height: 40px;
  border: 1px solid var(--m-color01);
  text-align: center;
  margin-right: 10px;

}
.sns i.fab{
  color: var(--m-color01);
  font-size: 24px; line-height: 40px;
}

.intro-ctrl-btn{
  position: absolute; bottom: 20px; left: 0px;
  z-index: 12;
}
.intro-ctrl-btn li{
  display: inline-block;
  padding: 10px 8px 6px 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.intro-progress{
  display: block;
  position: absolute; bottom: 70px; left: 180px;
  width: 400px; height: 5px;
  background: #fff;
  z-index: 100;
}
.intro-progress span{
  display: inline-block;
  position: absolute;
  top: 0px;
  height: 5px;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.intro-progress span.on{
  width: 33%;
  background-color: var(--m-color01);
}
.intro-progress i.fas{
  position: absolute; top: -15px;
  left: 410px;
  padding: 5px;
  color: var(--m-color01);
  font-size: 24px;
}
.intro-page{
  display: flex;
  position: absolute; right: 5%; 
  bottom: 40px; width: 10px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 25;
}
.intro-page span{
  display: block;
  width: 10px; height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 25px;
}
.intro-page span.on{
  background-color: var(--m-color01);
}

/* 뉴스 섹션 */
#news{
  display: flex;
  position: relative;
  width: 1180px; height: 480px;
  margin: var(--b-center);
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
}

#news h2{
  display: none;
}

#news article{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.news-tvcf, .news-list{
  position: absolute;
  bottom: 0px;
  margin-top: 50px;
}
.news-tvcf{
  width: 100%;
  height: 390px;
}
.news-tvcf img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-list{
  width: 100%;
  overflow: hidden;
}
.news-list li{
  display: inline-block;
  width: 566px;
  line-height: 62px;
  white-space: nowrap;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-list li a{
  font-size: var(--f-size02);
}
.news-newslist{
  display: inline-block;
  width: 68px;
  color: var(--color02);
  font-size: var(--f-size01); line-height: 32px;
  text-align: center;
  margin-right: 10px;
}
.item{
  background: var(--m-color01);
}
.news{
  background: #ff8800;
}
.notice{
  background: var(--m-color03);
}

/* 브랜드 섹션 */
#brand{
  width:100%;
  background: #FFFCF1;
}
#brand h2{
  display: none;
}
#brand article{
  position: relative;
  width: 1180px;
  margin: var(--b-center);
  padding-top: 50px;
}
.brand-tab-con{
  margin-top: 30px;
}
.brand-tab-con li{
  display: inline-block;
  position: relative;
  background: #fff;
  font-size: 18px;
  line-height: 32px;
  margin-right: 20px;
  cursor: pointer;
}
.brand-tab-con li a{
  padding: 0px 15px;
  color: #888;
}
.brand-tab-con li.on{
  background: var(--m-color01);
}
.brand-tab-con li.on a{
  color: #fff;
}
.brand-tab-item{
  position: relative;
  width: 100%;
  height: 430px;
}
.brand-tab-item li{
  display: none;
  position: absolute;
  bottom: 0px; left: 0px;
  width: 100%;
  height: 430px;
}
.brand-tab-item li:first-of-type{
  background: url('../img/tab01.png') no-repeat center right;
  background-position: 405px -130px;
  background-size: 80%;
}
.brand-tab-item li:nth-of-type(2){
  background: url('../img/tab02.png') no-repeat center right;
  background-position: 405px -130px;
  background-size: 80%;
}
.brand-tab-item li:last-of-type{
  background: url('../img/tab03.png') no-repeat center right;
  background-position: 405px -130px;
  background-size: 80%;
}

.brand-tab-item-logo{
  width: 200px;
  height: 60px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
.brand-tab-item-logo img{
  width: auto;
  height: 100%;
  object-fit: contain;
}
.brand-tab-item-title{
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
}
.brand-tab-item-info{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

/* 베스트셀러 상품 */
#best-seller{
  width: 1180px;
  margin: var(--b-center);
  margin-top: 50px;
}
.best-btn{
  display: inline-block;
  padding: 0px 20px;
  background: #f5f5f5;
  color: #777;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transform: translateY(-6px);
}
.best-btn.on{
  background: var(--m-color01);
  color: #fff;
}
.best-gallary-wrap{
  display: none;
}
.best-gallary-wrap.on{
  display: block;
}

.best-gallary{
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, auto);
}
.best-gallary li{
  position: relative;
  width: 236px;
  height: 320px;
  text-align: center;
  margin-right: 20px;
}
.best-gallary li img{
  width: 100%;
  object-fit: cover;
}
.best-gallary-title{
  font-weight: 600;
  font-size: 18px;
}
.best-gallary-info{
  font-size: var();
  margin-top: 10px;
}