@charset "utf-8";
html{
  overflow-x: hidden;
}

body.on{
  overflow: hidden;
}

*{ padding: 0px;margin: 0px;}
body{ color: #333;font-size: 12px;}
ul, ol, li{list-style: none;}
a{ color: #333;text-decoration: none;}

#wrap{
  position: absolute;
  right:0px;
  width: 100%;
  transition: 0.5s;
}
.wrap_pos{
  right: 80% !important;
  transition: 0.5s;
}
header{
  position: absolute;
  width: 100%;
  height: 80px;
  background: #ffe6ee;
  z-index: 999;
}
header > h1{
  text-align: center;
}
header > h1 img{
  width: 120px;
  padding-top: 10px;
}
footer{
  color: #fff;
  text-align: center;
  background-color: #333;
}
footer > address{
  line-height: 60px;
  font-style: normal;
}
#toggle{
  position: fixed;
  top: 15px; right: 0px;
  width: 50px; height: 50px;
  padding: 10px 10px 10px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}

#toggle > span{
  display: inline-block;
  width: 40px; height: 4px;
  background: #EF426F;
  transition: 0.4s;
}

#search{
  position: absolute;
  top:20px; left: 10px;
  width: 40px; height: 40px;
  text-align: center;
  z-index: 9999;
}
#search > i{
  color: #EF426F;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.search-box{
  position: absolute;
  top: 0px;
  width:100%; height: 60px;
  background: #EF426F;
  text-align: center;
  z-index: 10;
  transition: 0.4s;
}
.serch-on{top:80px; z-index: 50;}
.search-box input{
  position: relative; top: 15px;
  width: 75%;
  height: 30px;
  padding: 0px 10px;
  border: 0px;
  color: #dcdcdc;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 10px;
}
.search-box input:focus{
  outline: none;
}
.search-box button{
  position: relative; top: 15px;
  width: 40px;
  height: 30px;
  border: 0px;
  background: #ffe6ee;
  color: #EF426F;
  border-radius: 10px;
  cursor: pointer;
}

.gnb{
  position: absolute; top: 0px;
  right: -80%;
  width: 80%; height: 100%;
  padding: 80px 40px;
  background: #EF426F;
  z-index: -1100;
  box-sizing: border-box;
}
.gnb>ul>li>a{
  color: #fff;
  display: inline-block;
  width: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 60px;
}
.gnb ul li i.fas{
  color: #ffe6ee;
  font-size: 18px;
  transform: rotate(180deg);
}

.lnb li a{
  color: #fff;
  line-height: 30px;
  display: block;
}

.act{
  transform: rotate(0deg) !important;
}

.on{
  position: absolute !important;
}

.lnb{
  display: none;
}


/*토글 버튼 클릭시 들어갈 서식*/
.act01{
  position: absolute;
  top: 20px; left: 10px;
  transform: rotate(-45deg);
  background-color: #fff !important;
}
.act02{display: none !important;}
.act03{
  position: absolute;
  top:20px;
  left: 10px;
  transform: rotate(+45deg);
  background-color: #fff !important;
}


main{
  padding-top: 80px;
}
.slide_container{
  position: relative;
  width: 100%; height: 665px;
  overflow: hidden;
}
.slide_wrap{
  display: flex;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  position: relative;
}
.slide{
  width: 100%;
  top:0px; 
  left: 0px;
}
.slide img{
  width: 100%; height: 100%;
  vertical-align: middle;
}